<!-- project_app/templates/project_list.html -->
{% include 'header.html' %}

<div style="display: flex; align-items: center;">
<h1 style="margin-right: 20px; ">Project List</h1>
<a href="{% url 'create_project' %}" class="btn btn-primary">➕</a>
</div>
<hr>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>Expected End Date</th>
            <th>Progress</th>
            <th>Owner</th> <!-- New column for owner's username -->
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'project_detail' project_id=project.id %}">{{ project.name }}</a>
                </td>
                <td>{{ project.description }}</td>
                <td>{{ project.start_date|date:"d/m/Y" }}</td>
                <td>{{ project.estimated_end_date|date:"d/m/Y" }}</td>
                <td>{{ project.percentage_completed }}%</td>
                <td>{{ project.owner.username }}</td> <!-- Display the owner's username -->
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No projects found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
